<%# app/views/tenants/show.html.erb %>
<div class="bg-white min-h-screen">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <%# This is the line the test is looking for %>
      <h1 class="text-4xl font-extrabold text-indigo-600">
        Welcome to <%= current_tenant.name %>
      </h1>
      <p class="mt-4 text-lg text-gray-500">
        Your journey to a better self starts here.
      </p>
      
      <div class="mt-10">
        <%= link_to "Back to Hallway", root_path, class: "text-indigo-600 hover:text-indigo-500 font-medium" %>
      </div>
    </div>
  </div>
</div>